# Streamlit and Web Framework
streamlit>=1.30.0
pymongo>=4.6.0
dnspython>=2.6.0
python-dotenv>=1.0.0
requests>=2.31.0
matplotlib>=3.8.0
plotly>=5.18.0
reportlab>=4.0.0

# NLP de base (sans Rasa complet)
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.0/en_core_web_md-3.7.0-py3-none-any.whl

# Hugging Face & Torch (Standard)
huggingface-hub>=0.20.0
transformers>=4.36.0
tokenizers>=0.15.0
torch>=2.0.0
sentencepiece>=0.1.99
safetensors>=0.4.0

# Utilitaires
numpy<2.0.0
pandas>=2.0.0
Pillow>=10.0.0
